@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 90%;
    --card: 0 0% 7.5%;
    --card-border: 0 0% 15%;
    --card-foreground: 210 60% 98%;
    --popover: 0 0% 7.5%;
    --popover-foreground: 0 0% 7.5%;
    --primary: 161 74% 45%;
    --primary-hover: 161 74% 55%;
    --primary-foreground: 0 0% 9%;
    --secondary: 210 60% 27%;
    --secondary-foreground: 210 60% 98%;
    --muted: 0 0% 65%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 210 60% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 60% 98%;
    --theme-red: 5, 100%, 51%;
    --theme-green: 143 100% 42%;
    --border: 161 74% 45%;
    --input: 0 0% 14.9%;
    --ring: 161 74% 45%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  [data-table="true"]::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-background;
    border-radius: 100vw;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(111, 111, 111);
    border-radius: 100vw;
  }

  [data-table]::-webkit-scrollbar {
    height: 8px;
  }
  [data-table]::-webkit-scrollbar-track {
    padding: 2px;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  @media (max-width: 640px) {
    h2 {
      @apply text-lg;
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
html,
body {
  overflow: hidden;
}

#sheet-scroll-container::-webkit-scrollbar,
#main-wrapper::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

#page-header-wrapper {
  padding-top: 1rem;
}
#mobile-nav {
  padding-bottom: calc(env(safe-area-inset-bottom) + 0.5rem);
}

#refresh-wrapper {
  top: calc(env(safe-area-inset-top) + 1rem);
}

#main-wrapper {
  height: calc(100vh - 79px);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (display-mode: standalone) {
  #mobile-nav {
    padding-bottom: calc(env(safe-area-inset-bottom) + 0.5rem);
  }

  #page-header-wrapper {
    padding-top: calc(env(safe-area-inset-top));
  }

  html,
  body {
    padding-inline: env(safe-area-inset-left);
  }

  #main-wrapper {
    height: calc(
      100vh - 79px + 1rem - env(safe-area-inset-top) +
        env(safe-area-inset-bottom)
    );
  }
  /* Prevent unintended gestures */
  .pwa-mode {
    touch-action: manipulation;
    user-select: none;
    -webkit-touch-callout: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px hsl(185, 26%, 9%) inset !important;
  -webkit-text-fill-color: white !important;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
