@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-xs)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme {
  --breakpoint-xs: 475px;

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-theme-red: hsl(var(--theme-red));
  --color-theme-green: hsl(var(--theme-green));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-primary-hover: hsl(var(--primary-hover));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-card-border: hsl(var(--card-border));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius: 5px;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* width */

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 90%;
    --card: 0 0% 7.5%;
    --card-border: 0 0% 15%;
    --card-foreground: 210 60% 98%;
    --popover: 0 0% 7.5%;
    --popover-foreground: 0 0% 7.5%;
    --primary: 161 74% 45%;
    --primary-hover: 161 74% 55%;
    --primary-foreground: 0 0% 9%;
    --secondary: 210 60% 27%;
    --secondary-foreground: 210 60% 98%;
    --muted: 0 0% 65%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 210 60% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 60% 98%;
    --theme-red: 5, 100%, 51%;
    --theme-green: 143 100% 42%;
    --border: 161 74% 45%;
    --input: 0 0% 14.9%;
    --ring: 161 74% 45%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  [data-table="true"]::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-background;
    border-radius: 100vw;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(111, 111, 111);
    border-radius: 100vw;
  }

  #drawer-scroll-container::-webkit-scrollbar {
    display: none;
  }

  [data-table]::-webkit-scrollbar {
    height: 8px;
  }
  [data-table]::-webkit-scrollbar-track {
    padding: 2px;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  @media (max-width: 640px) {
    h2 {
      @apply text-lg;
    }
  }
}

@layer utilities {
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  html,
  body {
    overflow: hidden;
  }

  #sheet-scroll-container::-webkit-scrollbar,
  #main-wrapper::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  #page-header-wrapper {
    padding-top: 1rem;
  }
  #mobile-nav {
    padding-bottom: calc(env(safe-area-inset-bottom) + 0.5rem);
  }

  #refresh-wrapper {
    top: calc(env(safe-area-inset-top) + 1rem);
  }

  #main-wrapper {
    height: calc(100vh - 73px);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  @media (display-mode: standalone) {
    #mobile-nav {
      padding-bottom: calc(env(safe-area-inset-bottom) - 1rem);
    }

    #page-header-wrapper {
      padding-top: calc(env(safe-area-inset-top));
    }

    html,
    body {
      padding-inline: env(safe-area-inset-left);
    }

    #main-wrapper {
      height: calc(
        100vh - 73px + 1rem - env(safe-area-inset-top) +
          env(safe-area-inset-bottom)
      );
    }
    /* Prevent unintended gestures */
    .pwa-mode {
      touch-action: manipulation;
      user-select: none;
      -webkit-touch-callout: none;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px hsl(185, 26%, 9%) inset !important;
    -webkit-text-fill-color: white !important;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
