@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 60% 97%;
    --foreground: 210 60% 6.5%;
    --card: 210 60% 97%;
    --card-foreground: 0 0% 3.9%;
    --popover: 210 60% 97%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 161 74% 45%;
    --primary-foreground: 0 0% 98%;
    --primary-hover: 161 74% 55%;
    --secondary: 210 60% 27%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 60%;
    --muted-foreground: 0 0% 89.8%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 161 74% 45%;
    --input: 0 0% 89.8%;
    --ring: 161 74% 45%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 210 60% 6.5%;
    --foreground: 210 60% 97%;
    --card: 210 60% 6%;
    --card-foreground: 210 60% 97%;
    --popover: 210 60% 6%;
    --popover-foreground: 210 60% 97%;
    --primary: 161 74% 45%;
    --primary-hover: 161 74% 55%;
    --primary-foreground: 0 0% 9%;
    --secondary: 210 60% 27%;
    --secondary-foreground: 210 60% 97%;
    --muted: 0 0% 50%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 210 60% 97%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 60% 97%;
    --border: 161 74% 45%;
    --input: 0 0% 14.9%;
    --ring: 161 74% 45%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-3xl font-bold;
  }

  @media (max-width: 640px) {
    h1 {
      @apply text-xl;
    }
  }
}
