@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */

@layer base {
  :root {
    --background: 210 30% 5%;
    --foreground: 210 60% 98%;
    --card: 210 30% 5%;
    --card-foreground: 210 60% 98%;
    --popover: 210 60% 4.5%;
    --popover-foreground: 210 60% 98%;
    --primary: 161 74% 45%;
    --primary-hover: 161 74% 55%;
    --primary-foreground: 0 0% 9%;
    --secondary: 210 60% 27%;
    --secondary-foreground: 210 60% 98%;
    --muted: 0 0% 50%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 210 60% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 60% 98%;
    --border: 161 74% 45%;
    --input: 0 0% 14.9%;
    --ring: 161 74% 45%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-background;
    border-radius: 100vw;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(111, 111, 111);
    border-radius: 100vw;
  }

  [data-table]::-webkit-scrollbar {
    height: 8px;
  }
  [data-table]::-webkit-scrollbar-track {
    padding: 2px;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-3xl font-bold text-center mx-auto;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  @media (max-width: 640px) {
    h1 {
      @apply text-xl;
    }

    h2 {
      @apply text-lg;
    }
  }
}
