@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 90%;
    --card: 0 0% 7.5%;
    --card-border: 0 0% 15%;
    --card-foreground: 210 60% 98%;
    --popover: 210 60% 4.5%;
    --popover-foreground: 210 60% 98%;
    --primary: 161 74% 45%;
    --primary-hover: 161 74% 55%;
    --primary-foreground: 0 0% 9%;
    --secondary: 210 60% 27%;
    --secondary-foreground: 210 60% 98%;
    --muted: 0 0% 65%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 210 60% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 60% 98%;
    --border: 161 74% 45%;
    --input: 0 0% 14.9%;
    --ring: 161 74% 45%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-background;
    border-radius: 100vw;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(111, 111, 111);
    border-radius: 100vw;
  }

  [data-table]::-webkit-scrollbar {
    height: 8px;
  }
  [data-table]::-webkit-scrollbar-track {
    padding: 2px;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  @media (max-width: 640px) {
    h2 {
      @apply text-lg;
    }
  }
}

#main-wrapper {
  max-height: 100vh;
  padding-top: 81px;
  padding-bottom: 122.5px;
  overflow-y: auto;
}

@media (display-mode: standalone) {
  /* Ensure full height and prevent unwanted scrolling */
  html {
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }

  /* Prevent unintended gestures */
  .pwa-mode {
    touch-action: manipulation;
    user-select: none;
    -webkit-touch-callout: none;
  }
}
